@media screen and (max-width: 640px) {
	body{
		/* background-color : #dddddd; */
	}
	
	/*---------Projects------------*/
	.content .projects_page .project-image img{
		height : 200px!important;
	}
	
	.content .projects_page h1{
		font-size : 30px;
		margin-bottom : 15px;
	}
	
	.content .more_page h1{
		font-size : 30px;
	}
}

@media screen and (max-width: 970px) {
	body{
		/* background-color : #dddddd; */
	}
	
	.content .projects_page .project-right{
		float : none;
	}

	.content .projects_page .project-left{
		float : none;
	}
	
	.content .projects_page .project-image img{
		height : 400px;
		display : inline-block;
	}
	
	.content .projects_page article{
		height : auto;
		box-shadow : 0px 20px 50px -30px rgba(0,0,0,0.15);
		margin-bottom : 70px;
		padding : 30px 15%;
		width : 70%;
	}
	
	.content .projects_page .project-image{
		/*background-color : red;*/
		width : 100%;
	}
	
	.content .projects_page .project-description{
		/*background-color : blue;*/
		width : 100%;
		height : auto ;
		padding : 0;
	}
}

@media screen and (max-width: 1100px) {
	.content .more_page .wrapper{
		width : 80%;
		max-width : 950px;
		/*background-color : purple;*/
		margin : 0 auto 15px auto;
		padding : 30px 0;
		font-family : "Ancillary", sans-serif;
		font-size : 15px;
		color : #373737;
	}
}