.top-buffer { margin-top:40px; }


.content {
	/*background-color : blue;*/
	min-height : 600px;
	margin : 0;
	margin-top : 71px;
}
/*-------------------------------
			PROJECTS
---------------------------------*/

.content .projects_page{
	margin-top : 30px;
	margin-bottom : 50px;
}

.content .projects_page p.see-more {
	margin-top : 30px;
}

.content .projects_page a.see-more {
	font-family : "Sleeptalk", sans-serif;
	font-size: 25px;
	position : relative;
}

/*.content .projects_page a.see-more:not(.more-soon)::before {
	content :' ';
	display : inline-block;
	height : 8px;
	width : 8px;
	bottom : 8px;
	position: relative;
	margin-right : 10px;
	background-size: cover;
	background-position : center;
}*/

.content .projects_page article {
	box-sizing: content-box;
	height : 440px;
	width : 100%;
	max-width : 990px;
	/*background-color : purple;*/
	margin : 0 auto 15px auto;
	padding : 30px 0;
	font-family : "Ancillary", sans-serif;
	font-size : 15px;
	color : #484848;
}

.content .projects_page .project-image{
	/*background-color : red;*/
	width : 50%;
	height : 100%;
	vertical-align : middle;
	text-align : center;
}

.content .projects_page .project-image img{
	height : 100%;
	width: 100%;
	/*max-width : 100%;*/
	display : inline-block;
}

.content .projects_page .project-description{
	/*background-color : blue;	*/
	width : 40%;
	height : 95%;
	padding : 1% 5%;
}

.content .projects_page .project-right{
	float : right;
}

.content .projects_page .project-left{
	float : left;
}





